{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
<article class="row item">
            <div class="col-md-4">
              <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title }}">
              <figure>
                <img class="media-object" src="{{ article.image }}" alt="{{ article.title }}">
              </figure>    
              </a>
            </div>
            <div class="col-md-8">
                            <header>
                                <h3 class="media-heading post-title"><a href="{{ SITEURL }}/{{ article.url }}" data-toggle="tooltip" data-placement="bottom" title="{{ article.title }}">{{ article.title }}</a></h3>
                                <small class="entry-meta">
                                    {% include 'article_infos.html' %}                    
                                </small>
                            </header> 
                {{ article.summary }}
                
            </div>
</article>

        {% endfor %}
    {% endif %}
{% endblock content %}

