{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %} 
    <article class="post">
        <header>
                <small class="entry-meta">
                    {% if PDF_PROCESSOR %}
                    <a href="{{ SITEURL }}/pdf/{{ page.slug }}.pdf">get the pdf</a>
                    {% endif %}                   
                </small></header>
                <br>
                {{ page.content }}
                <hr>
                    <ol class="breadcrumb">
                      <li><a href="{{ SITEURL }}">Regresar</a></li>
                    </ol>    
                <hr>                  
    </article> 
{% endblock %}